* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #1c1c1c;
}

#app-container {
  background: #e5e5e5;
  margin: 50px auto;
  width: 550px;
  box-shadow: 0px 0px 1px white;
}

header {
  background: #3a69d2;
  color: #fff;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
}

header p {
  margin-top: 9px;
  line-height: 28px;
  letter-spacing: 0.5px;
}

main,
footer {
  background: #1f2937;
  color: #f5f5f5;
  padding-left: 40px;
  padding-right: 40px;
}

main {
  padding-top: 40px;
}

#add-btns-container {
  display: flex;
  justify-content: space-between;
}

#add-btns-container button {
  font-size: 14px;
  font-weight: 500;
  height: 45px;
  color: #4a4e74;
  background: #d1d4f4;
  padding: 0 18px;
  border: none;
  border-radius: 7px;
}

#task-section-container {
  margin-top: 40px;
}

#task-section-header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
}

#task-list {
  list-style: none;
  margin-top: 19px;
  border-bottom: 1px solid #c3c6db;
}

.task {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.task-name {
  display: flex;
  align-items: center;
}

.remove-task {
  margin-left: 15px;
  font-size: 8px;
  font-weight: 400;
  /* display: none; */
}

#summary-section-container {
  margin-top: 11px;
  display: flex;
  justify-content: space-between;
}

#summary-section-container h3 {
  font-size: 12px;
  font-weight: 600;
  line-height: 32px;
}

#notes p {
  font-size: 12px;
}

#total-amount-container {
  text-align: right;
}

#total-amount-el {
  margin-top: 11px;
  font-size: 36px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: right;
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

#send-invoice-btn {
  height: 44px;
  width: 100%;
  border: none;
  border-radius: 7px;
  background-color: #3a69d2;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

#button-icon {
  display: inline-block;
  width: 16px;
  height: 12px;
  background: url(images/mail-icon.png);
  background-size: cover;
  margin-right: 14px;
}

button:hover,
.remove-task:hover {
  cursor: pointer;
}

#about {
  display: flex;
  justify-content: end;
  height: 0;
}

#about a {
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  background: #273549;
  height: 35px;
  width: 35px;
  font-size: 20px;
  text-decoration: none;
  position: relative;
  top: -20px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about a:hover {
  background: #3a69d2;
  transition-duration: 0.25s;
}
